<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input{text-align:center;
        margin:20px;
        padding:5px;

        }
        .c{height:10px;
        width:200px
        }
    </style>
    <script>
       function get()
       {var v=document.getElementById("em").value;
        if (v=="")
            {alert(" # FIELD CAN'T BE EMPTY");}
            }
    </script>
</head>
<body>
<form method="post">
    {% csrf_token %}
   Enter Registered Email id :<input class="c" type="email"  name="e" id="em"><br>
    <font color="red"><i>{{ err }}</i></font><hr>
    <i>* an OTP will be sent to your registerd email id.</i>
    <input type="submit" name="Submit" onclick="get()">

</form>
<hr>

</body>
</html>