<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
       function get()
       {var v=document.getElementById("em").value;
        if (v=="")
            {alert(" # FIELD CAN'T BE EMPTY");}
            }
    </script>
</head>
<body>
<h2>Enter OTP:</h2>
<form method="post" action="{% url 'change' email %}">
    {% csrf_token %}
   Enter provided Otp :<input class="c" type="text"  name="otp" id="em"><br>

    <i></i>
    <input type="submit" name="Submit" onclick="get()" >

</form>
</body>
</html>