<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h2{background-color:blue;
        color:yellow;}
    </style>
</head>
<body><h2>  {{ cou.title }}-         <i>By : {{ user }}</i></h2>
<h3>Modules</h3><hr>
<ul>
{% for i in mo %}
    <li><b>Module {{ forloop.counter }}-</b><a href="{% url 'mdetail' i.id %}" >{{ i.title }}</a></li>
{% endfor %}
    <br><hr>
    <a href="{% url 'addmo' cid %}"><button>Add Module</button></a>
</ul>
</body>
</html>