
{% extends 'base.html' %}
{% load static %}
{% block body %}
	<!-- banner -->
	<div class="agile-banner">
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index.html">Home</a></li>
				<li class="active">Login</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->

	<!-- contact -->
	<div class="container">
		<!-- mail -->
	<div class="banner-bottom">
			<div class="agileits_heading_section">
				<h3 class="wthree_head">Change image</h3>
			{% if error %}
				<script>alert("Incorrect")</script>
				{% endif %}
			</div><br><br>
			<img src="{{udata.image.url}}" height="300" width="380">
			<div class="w3ls_portfolio_grids w3_agile_mail_grids">	
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="col-md-12 w3_agile_mail_grid">
						<div class="col-md-6 w3_agile_mail_grid">
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="file" name="img" id="input-25"  placeholder=" " required="" />
							<label class="input__label input__label--ichiro" for="input-25">
								<span class="input__label-content input__label-content--ichiro">Image</span>
							</label>
						</span></div>

						<div class="row">
							<center>
						<input type="submit" value="Change" style="width: 50%"></center>
					</div>
					</div>
					
					<div class="clearfix"> </div>
				</form>
			</div>
		
	</div>
<!-- //mail -->

	</div>
	<!-- //contact -->
{% endblock %}